.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  & .app-name {
    width: 100%;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  & .error-label {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  & .button-retry {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #d33f49;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
